

<div class='col-lg-3 my-8 mx-3 d-none d-lg-block' id="rightBlock">
        <div style="margin-top: 12vh;" class="Add_new_post">
            <form action="/create-complain" method="POST">

              <input type="hidden" name="user_id" value="<%= locals.user.id %>">
              
              <span> New Complain :</span>
              <div class="blocks my-2">
                <textarea class="post-form" name="complain_text" placeholder="Type Here"></textarea>
              </div>

              <div class="dropdown my-3" >

                <label for="place" class="mx-2">Address :  </label>
                <input type="text" name="place" id="place" placeholder="location">
                <input type="text" id="city" name="city" placeholder="City">
                <input type="text" id="district" name="district" placeholder="District">

                <input type="text" id="state" name="state" placeholder="State">
                <input type="number" name="pincode" placeholder="Area Pincode">
                
               
                <br>

                
              </div>

              <input type="submit" value="Add Complain">

            </form>
        </div>

      </div>